# Empty CSS file for your own CSS

html{
    
}

a{
    text-decoration: none;
    color: white !important;
}

.nav_bar{
    background-color: #00994d !important;
    color: white !important;
}

.body_content{
    margin-top: 20px !important;
}

.icon_image{
    margin: 5px;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

.back_image{
    padding: 3px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 200px;    
}